<% @cnt.each do |e| %>
  <% if e['cnt'] == 0 %>
    <p>そのような商品は見当たらない様です</p><br>
    <a href="/">トップに戻る</a><br>
  <% else %>
    <table>
    <% @results.each do |x| %>
      <tr><td><%= x['name']%></td><td><%= x['harvest'] %></td></tr>
    <% end %>
    </table><br>
    <a href="/">トップに戻る</a><br>
  <% end %>
<% end %>
