<% @cnt.each do |e| %>
  <% if e['cnt'] == 0 %>
    <p>そのような商品は見当たらない様です</p><br>
    <a href="/">トップに戻る</a><br>
  <% else %>
    <table>
    <% @results.each_with_index do |x, i| %>
      <tr><td><%= x['jname'] %>の収穫量<%= (i + 1) %>位は <%= x['name']%></td><td><%= x['harvest'] %></td></tr>
    <% end %>
    </table><br>
    <a href="/">トップに戻る</a><br>
  <% end %>
<% end %>
